Series:

- It is defined as a one-dimensional array that is capable of storing various data types.

In [7]:
import pandas as pd

x = [3,4,5,7,8]

var = pd.Series(x)

print(var)
print(type(var))
print(var[2])

0    3
1    4
2    5
3    7
4    8
dtype: int64
<class 'pandas.core.series.Series'>
5

In [ ]:
#1. change index number
x = [3,4,5,6]
var = pd.Series(x,index=['a','s','d','f'])
print(var)

a    3
s    4
d    5
f    6
dtype: int64

In [ ]:
#2. change data type 
x = [3,4,5,6]
var = pd.Series(x,index=['a','s','d','f'],dtype="float")
print(var)

a    3.0
s    4.0
d    5.0
f    6.0
dtype: float64

In [ ]:
#3. name parameter
x = [3,4,5,6]
var = pd.Series(x,index=['a','s','d','f'],dtype="float",name="python")
print(var)

a    3.0
s    4.0
d    5.0
f    6.0
Name: python, dtype: float64

Note:- pandas ke andar series bna rhe hai, series banate samay ham-

- list pass krwa sakte hai.
- Disctionary pass krwa sakte hai.
- Tuple bhi.

In [ ]:
# multidimension data likha but output mein one dimension data dikha, isi liye Series bolte hai.

dic = {"name":['python','c','c++','java'],"por":[12,13,14],"rank":[1,4,3,2]}

# series banana hai 
var1 = pd.Series(dic)
print(var1)
# var1 - isko bhi likh sakte hai  

# data type object ka reason:- mix data ka use karna.

name    [python, c, c++, java]
por               [12, 13, 14]
rank              [1, 4, 3, 2]
dtype: object

Single Data se bhi series bna sakte hai

In [20]:
s = pd.Series(12)
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

Ek hi data ke multiple series banana:- pass index value, jitna index pass hoga, utni series banegi

In [21]:
s = pd.Series(12,index=[1,2,3,4,5,6,7])
print(s)

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64

In [22]:
s1 = pd.Series(12,index=[1,2,3,4,5,6,7])
s2 = pd.Series(12,index=[1,2,3,4])

print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64