Tuples in Python

In [12]:
# create tuple using paranthesis
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [4]:
my_tuple1 = (1, "Madhav", True, 3.15)
print(my_tuple1)

(1, 'Madhav', True, 3.15)

In [6]:
# without paraenthesis 

tuple2 = 1,2,3
print(tuple2)
print(type(tuple2))

(1, 2, 3)
<class 'tuple'>

In [7]:
# tuple constructor
tuple2 = tuple((1,5,9))
print(type(tuple2))
print(tuple2)

<class 'tuple'>
(1, 5, 9)

In [8]:
list1 = [1,2,3]
new_tuple = tuple(list1)
print(new_tuple)

(1, 2, 3)

In [10]:
# create a single element
a = ("a",) # comma add
print(type(a))

<class 'tuple'>

In [11]:
# acess tuple using indexing 
fruits = ('apple', 'mango', 'cherry')
print(fruits[0])
print(fruits[-1])

apple
cherry

In [17]:
# tuple slicing 
new_tuple = (10, 20, 30, 40, 50)
print(new_tuple[0:3:1])
print(new_tuple[0::2])
print(new_tuple[0::3])

(10, 20, 30)
(10, 30, 50)
(10, 40)

Tuple operations

In [23]:
# concatenate - join tuples
tuple1 = (1,2,3)
tuple2 = ('a', 'b')

tuple3 = tuple1 + tuple2
print(tuple)

<class 'tuple'>

In [25]:
# repetitive
tuple2 = ('a', 'b') * 3
print(tuple2)

('a', 'b', 'a', 'b', 'a', 'b')

In [28]:
tuple3 = (1,2,3) * 3
print(tuple3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [29]:
# checking a element in a tuple
tuple22 = (1,2,3)
print(10 in tuple22)

False

Tuple iteration

In [30]:
# for loop
fruits = ('apple', 'mango', 'cherry')
for i in fruits:
    print(i)

apple
mango
cherry

In [36]:
# while loop 
fruits1 = ('apple', 'mango', 'cherry')
i = 0
while i < len(fruits1):
    print(fruits1[i])
    i += 1

apple
mango
cherry

Tuple Methods

In [38]:
color = ('blue', 'green', 'orange', 'blue')

# count
print(color.count('green'))

# index
print(color.index('blue'))

1
0

Tuple Functions

In [42]:
numbers1 = (2,3,1,4)

#len 
print(len(numbers1))

4

In [44]:
# sum
print(sum(numbers1))

10

In [45]:
# min
print(min(numbers1))

1

In [46]:
# max
print(max(numbers1))

4

In [47]:
# sort
print(sorted(numbers1))

[1, 2, 3, 4]

Packing and Unpacking Tuples:

- Packing is the process of putting multiple values into a single tuple.

- Unpacking is extracting values from a tuple into separate variables.

In [51]:
a = "Madhav"
b = 21
c = "Engineering"

tuple_pack = a,b,c
print(tuple_pack)

('Madhav', 21, 'Engineering')

In [54]:
name, age, profession = tuple_pack
print("Name is",name)
print(age)
print(profession)

Name is Madhav
21
Engineering

Modifying Tuple - Immutable

In [ ]:
# tuple_numbers = (10,20,30)
# tuple_numbers[0] = 100  # error

How to mutate/ modify tuple

In [62]:
tuple_numbers = (10,20,30)
list_numbers =  list(tuple_numbers)
print(list_numbers)

[10, 20, 30]

In [63]:
list_numbers[0] = 100
print(list_numbers)

[100, 20, 30]